/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #B5C8B5
}

/* Headings and Logo */
h1,
h2,
h3 {
    font-family: 'Robot slab', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6C896C;
}

#logo {
    float: left;
    font-size: 300%;
    text-decoration: none;

}

/* Navigation Links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin: 30px;

}

#menu2 {
    font-size: larger;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    white-space: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu,
#logo {

    line-height: 75px;
}

/* Hide the sublinks by default */
li ul {
    display: none;
}

/* Display the sublinks when hovering over the main link */
li:hover ul {
    display: block;
}

/* Footer Style temp. */

footer {
    letter-spacing: 4px;
    font-style: bold;
    color: chocolate;
    font-size: medium;
    margin: 20px;
}